$primary: #e0e5ec;
$shadow-light: #ffffff;
$shadow-dark: #a3b1c6;
$border-radius-small: 8px;
$border-radius-medium: 16px;
$border-radius-large: 32px;
$accent-color: mediumslateblue;
$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$user-name-text-color: #147efb;
